.contact {
    background-color: #f9f9f9;
    padding: 50px 20px;
  }
  
  .contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Updated text color */
  }
  
  .contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333; /* Updated text color */
  }
  
  .contact input,
  .contact textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333; /* Updated text color */
  }
  
  .contact button {
    padding: 10px 20px;
    font-size: 16px;
  
    background-color: #00c9c9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #169f9f;
  }
  